.elevee { color: red; font-weight: bold; }
.moyenne { color: orange; }
.faible { color: green; }
h2 {
  margin-bottom: 16px;
}input {
  width: 20%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding-right: 20px;
}button {
  margin-top: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #4e95d0;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  background-color: #357bb3;
}
.article-card {
  background: #f7f7f7;
  padding: 12px;
  border-radius: 12px;
  margin-top: 12px;
  text-align: left;
}